
html, body {
    font-family: "Open Sans", Arial;
    font-size: 14px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


#logo {
    display: inline-block;
    padding-right: 10px;
}
#logo img {
    width: 35px;
    height: 35px;
}

#controls {
    position: relative;
	width: 910px;
    float: left;
    background-color: #FFF;
    border: 1px solid #AAA;
    -moz-box-shadow:    2px 2px 10px 2px #DDD;
    -webkit-box-shadow: 2px 2px 10px 2px #DDD;
    box-shadow:         2px 2px 10px 2px #DDD;
}

#autocomplete-box {
    padding: 10px;
}

#loading-text {
    text-align: center;
    color: #AAA;
    background-color: #EEE;
    padding: 2px;
}

#pan-box {
    overflow: auto;
    position: absolute; 
    top:0; bottom:0; left:0; right:0;
    background-color: #FFF;
}

#paper {
    background-color: #F5F5F5;
    border: 1px solid #CCC;
}


.typeahead-box {
  display: inline-block;
  width: 500px;
}

/* make search box longer */
.twitter-typeahead {
    width: 500px;
}


#sp-definition-box {
    position: absolute; 
    top:0; right:0; bottom: 0;
    opacity: 1;
    width: 50%;
    background-color: #3F3F3F;
    padding-left: 20px;
}

#sp-definition-display {
    position: absolute;
    overflow: scroll;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 15px;
}

#sp-definition-controls {
    text-align: center;
}
#sp-definition-controls button {
    background-color: #333;
    border: 1px solid #222;
    color: #AAA;
    padding: 5px 7px;
}



/* ---------- TREE ----------- */

/* tips */
#tips {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
    text-align: center;
    background-color: #FFE;
    padding: 6px;
}

/* legend */
#legend {
    position: absolute; 
    bottom: 20px; right: 20px;
    width: 150px;
    text-align: center;
}
#legend div {
    padding: 2px;
    margin: 2px;
    border: 1px solid #111;
}
#legend .legend-proc {
    background-color: #C6DDE6;
}
#legend .legend-table {
    background-color: #D9D2B6;
}
#legend .legend-view {
    background-color: #C9B0C9;
}
#legend .legend-function {
    background-color: #CCC;
}

/* tree objects base */
.object-base {
    font-family: 'Open Sans', Arial;
}
.object-base rect {
    stroke: #444;
}
.object-base text {
    fill: #444;
}

/* individ tree objs */
.object-P rect {
    fill: #C6DDE6;
}
.object-T rect {
    fill: #D9D2B6;
}
.object-V rect {
    fill: #C9B0C9;
}
.object-F rect {
    fill: #CCC;
}

/* tree root */
.object-root rect {
    stroke-width: 3px;
}

/* ---------- /TREE ----------- */



/* FIXES */

/* fix for JointJS links, disables link manipulation */
.link {
    pointer-events: none;
}