<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oak - MS SQL database object dependency visualizer</title>
    <meta name="author" content="James H (github.com/kallotec)" />
    <meta name="description" content="User friendly SQL database object dependency visualizer" />
    @RenderSection("Styles", false)
    @RenderSection("ScriptsInHeader", false)
</head>
<body>
    @RenderBody()

    @RenderSection("ScriptsInFooter", false)
</body>
</html>